[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".tmux/plugins/nord-tmux"]
	path = .tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule "autojump"]
	path = autojump
	url = git://github.com/wting/autojump.git
